<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <div class="flex flex-1 justify-between px-[5%] py-2 bg-gray-500 text-white">
        {% if user.is_authenticated %}
        <h1>Welcome {{user.email}} </h1>
        {% endif %}
        <a href="{% url 'logoutuser' %}">
            <h2>logout</h2>
        </a>
    </div>

    <div class=" flex flex-1 px-2 h-screen items-stretch gap-3">
        <div class="w-1/12 border border-2">
            <div class="grid grid-1 px-1 py-2 gap-3">

                {% for category in categories %}
                <a href="">
                    <div class="flex flex-col border border-2 ">
                        <img src="{{category.image.url}}" alt="" class="w-full h-20 object-cover">
                        <p>{{category.name}}</p>
                    </div>

                </a>
                {% endfor %}

            </div>
        </div>
        <div class="w-8/12 border border-2">

            <div class="grid grid-cols-4 gap-2 p-2">

                {% for variant in variants %}
                <a href="{% url 'ordercreate' variant.id %}">
                    <div class="flex flex-col border p-2">
                        <img src="{{variant.recipe.image.url}}" alt="" class="w-full h-40">
                        <h3>{{variant.recipe.title}} -- ({{variant.recipetype.name}})</h3>
                        <h3></h3>
                        <p>size :{{variant.size}}</p>
                        <p>price: {{variant.price}}/-</p>
                        <p>Is_veg :{{variant.is_veg}}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
            
            <!-- <div class="grid grid-cols-5 gap-2">
            {% for recipe in recipes %}
                <div class="flex flex-col">

                    <img src="{{recipe.image.url}}" alt="" class="w-full h-20 object-cover">
                    <p>{{recipe.variants.size}}</p>
                    <p>{{recipe.title}}</p>
                    <p>{{recipe.recipetype.name}}</p>
                </div>
                
                {% endfor %}
            </div> -->
                
        </div>
        <div class="w-3/12 p-4 border-2 border-gray-300">
            <div class="flex flex-col w-full gap-4">

                {% for order in orders %}
                {% for item in order.items.all %}

                <div class="border rounded-lg p-3 flex flex-col gap-2">
                    <div class="flex justify-between font-medium">
                        <p>
                            {{ item.recipevariant.recipe.title }}
                            ({{ item.recipevariant.recipetype.name }})
                        </p>
                        <p>Total: {{ item.total_price }}</p>
                    </div>

                    <div class="flex justify-between text-sm text-gray-600">
                        <p>Qty: {{ item.quantity }}</p>
                        <p>Unit Price: {{ item.recipevariant.price }}</p>
                    </div>
                </div>
                {% endfor %}
                <div class="flex flex-1">
                    <p>Payable Amount : {{order.get_total_price}}</p>
                </div>

                {% endfor %}

                <a href="{% url 'order_address' %}"
                    class="mt-4 text-center bg-green-600 text-white py-2 rounded hover:bg-green-700">
                    Pay
                </a>

            </div>
        </div>

</body>

</html>