<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    
    <div class="flex flex-1 justify-between px-[5%] py-2 bg-gray-500 text-white">
        {% if user.is_authenticated %}
        <h1>Welcome {{user.email}} </h1>
        {% endif %}
        <a href="{% url 'logoutuser' %}">
            <h2>logout</h2>
        </a>
    </div>
        
    <div class=" flex flex-1 px-2 h-screen items-stretch gap-3">
        <div class="w-1/12 border border-2">
            <div class="grid grid-1 px-1 py-2 gap-3">

                {% for category in categories %}
                <a href="">
                    <div class="flex flex-col border border-2 ">
                        <img src="{{category.image.url}}" alt="" class="w-full h-20 object-cover">
                        <p>{{category.name}}</p>
                    </div>

                </a>
                {% endfor %}

            </div>
        </div>
        <div class="w-8/12 border border-2">

            <div class="grid grid-cols-6 p-2">

                {% for variant in variants %}
                <a href="{% url 'ordercreate' variant.id %}">
                    <div class="flex flex-col border p-2">
                        <img src="{{variant.recipe.image.url}}" alt="">
                        <h3>{{variant.recipe.title}} -- ({{variant.recipetype.name}})</h3>
                        <h3></h3>
                        <p>size :{{variant.size}}</p>
                        <p>price: {{variant.price}}/-</p>
                        <p>Is_veg :{{variant.is_veg}}</p>
                    </div>
                </a>
                {% endfor %}
            </div>

        </div>
        <div class="w-3/12 flex p-4 border border-2">
            <div class="flex flex-col w-full gap-2">
                
                {% for order in orders %}
                <div class="flex flex-col border p-2 gap-1">
                    <div class="flex justify-between">
                        <p class="font-semibold">Recipe name: {{order.variant.recipe.title}}</p>
                        <p class="font-semibold">Price {{order.get_total_price}}</p>
                    </div>
                    <div class="flex justify-between text-sm">
                        <p>Unit price {{order.recipevariant.price}}</p>
                        <p>{{order.recipevariant.quantity}}</p>
                    </div>
                    <div class="flex gap-4 items-center justify-between">
                        <p>
                            <a href="#" class="px-2 py-1 bg-white rounded text-black hover:bg-gray-200">+</a>
                            <a href="#" class="px-2 py-1 bg-white rounded text-black hover:bg-gray-200">-</a>
                        </p>
                        <a href="{% url 'deleteorder' order.id %}" class="px-2 py-1 font-semibold text-red-600 rounded">
                            Delete
                        </a>
                    </div>
                    
                </div>
                {% endfor %}
          

            </div>


        </div>
</body>

</html>